{% extends 'layout.html' %}

{% block title %}Reservas{% endblock %}

{% block body %}

<div class="alert alert-info display-1 text-center">LISTADO DE RESERVAS</div>
    {% if reservas %}
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Fecha Reserva</th>
                <th>Hora Reserva</th>
                <th>Cantidad de personas</th>
                <th>Estado de la reserva</th>
                <th>Observación</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.id }}</td>
                <td>{{ reserva.nombre_persona}}</td>
                <td>{{ reserva.telefono}}</td>
                <td>{{ reserva.fecha_reserva}}</td>
                <td>{{ reserva.hora_reserva}}</td>
                <td>{{ reserva.cantidad_personas}}</td>
                <td>{{ reserva.estado_reserva}}</td>
                <td>{{ reserva.observacion}}</td>
                <td><a href="/actualizar_reserva/{{ reserva.id }}" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></td>
                <td><a href="/eliminar_reserva/{{ reserva.id }}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-primary" role="alert">
        <strong>No se encuentran reservas en el sistema</strong>
    </div>
    {% endif %}

    <a href="{% url 'index' %}" class="btn btn-outline-danger">VOLVER</a>
    <a href="{% url 'agendar_reserva' %}" class="btn btn-primary float-end">AGREGAR RESERVA</a>

{% endblock %}